@import "tailwindcss";

body {
  background-color: rgb(22, 22, 20);
  width: 100wh;
  height: 100vh;
  color: darkgrey;
}
/* 
.start {
  background-image: url(./assets/movie-banner2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  width: 100%;
  height: 500px;
  opacity: 0.4;
} */
